.nuxt-content h2 {
    padding-top: .3em;
    padding-bottom: .2em;
    margin-bottom: .5em;
    border-bottom: 2px solid var(--v-primary-base);
  }
  
  .nuxt-content h3, .nuxt-content h4, .nuxt-content h5 {
    padding-top: .3em;
    padding-bottom: .2em;
    margin-bottom: .5em;
    border-bottom: 1px solid var(--v-primary-base);
  }