// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$maximum-blue-purple: #b4adeaff;
$oxford-blue: #0c1b33ff;
$byzantium: #7a306cff;
$polished-pine: #6ba292ff;
$caribbean-green: #35ce8dff;